/* General Layout */
* {
  box-sizing: border-box;
  color: #F8B195;
  margin: 0;
}

body {
  background-color: #355C7D;
  font-family: 'Open Sans', sans-serif;
}

header {
  background-color: #F67280;
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  font-weight: 700;
  justify-content: space-between;
  padding: 1%;
}

h1 {
  font-size: 2rem;
}

nav {
  background-color: #C06C84;
}

.sleep-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.activity-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 10px;
}

.hydration-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

ul {
  list-style-type: none;
}

li {
  cursor: default;
  display: inline-block;
  flex-grow: 1;
  font-size: 1.25em;
  text-align: center;
}

.active {
  background-color: #6C5B7B;
}

span {
  color: white;
  font-weight: 400;
}

/* Main portion of Site */
main {
  background-color: #6C5B7B;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 80vh;
  justify-content: space-around;
  overflow-x: hidden;
}

section {
  display: flex;
  flex-direction: row;
  flex-grow: 2;
  flex-wrap: wrap;
  justify-content: space-around;
}

aside {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
}

.card {
  background: grey;
  border-radius: .2rem;
  border: #355C7D solid .1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 #355C7D;
  height: 16rem;
  margin: .5rem;
  padding: .5rem;
  width: 24rem;
  font-size: 1.1rem;
    background-color:#355C7D;
}

.chart {
  margin-top: 1rem;
}

.week {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 16rem;
  justify-content: space-around;
  width: 24rem;
}

.friends {
  display: flex;
  height: 5rem;
  justify-content: space-between;
  margin: .5rem;
  padding: .6rem;
}

.friends-container {
  border-left: #F67280 solid 5px;
}

.hydration {
  /* width: 250px;
  height: 250px; */
}

.stats {
  font-size: 0.7em;
}

h3 {
  text-decoration: underline;
}

img {
  width: 4rem;
  height: 4rem;
}

.mountain {
  background-image: url("../data/mountain-background.jpg");
}
